<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="resources.TestListeners"/>
    </listeners>
<test verbose="2" preserve-order="true" name="C:/projects/autotests">
    <classes>
        <class name="testObjects.LoginTest">
            <methods>
                <include name="unsuccessfulLogin"/>
            </methods>
        </class>
    </classes>
</test>
</suite>