<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="resources.TestListeners"/>
    </listeners>
    <test verbose="3" preserve-order="true" name="login">
        <classes>
            <class name="testObjects.LoginTest">
                <methods>
                    <include name="unsuccessfulLogin"/>
                    <include name="successfulLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="3" preserve-order="true" name="generate">
        <classes>
            <class name="testObjects.GenerateTest">
                <methods>
                    <include name="generatePermanentPurchased"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="3" preserve-order="true" name="activate">
        <classes>
            <class name="testObjects.ActivateTest">
                <methods>
                    <include name="activateKey"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="3" preserve-order="true" name="disableLicenseKey">
        <classes>
            <class name="testObjects.DisableTest">
                <methods>
                    <include name="disableKey"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>